@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}

.menu-car{
    position: absolute;
    width: 100%;
    padding: 10px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10000;
}
.menu-car .img-bag-car .content-menu-car ul{
    list-style: none;
    display: flex;
    align-items: center;
}
.menu-car .img-bag-car .content-menu-car ul li{
    margin: 0 10px;
}
.menu-car .img-bag-car .content-menu-car ul li a{
    text-decoration: none;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    transition: 0.3s ease;
}
.menu-car .img-bag-car .content-menu-car ul li a:hover{
    background-color: #ffffff;
    color: #000000;
    transform-origin: bottom;
}
.menu-car .menu-logo-car{
    display: flex;
    align-items: center;
}
.menu-car .menu-logo-car .logo{
    position: relative;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    filter: invert(3);
}
.menu-car .menu-logo-car h1{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Quicksand', sans-serif;
    color: #ffffff;
}
.menu-car .img-bag-car{
    display: flex;
    align-items: center;
}
.menu-car .img-bag-car .img-bag-img-car a .bag{
    width: 20px;
}
.menu-car .img-bag-car .bolcard{
    position: absolute;
    margin:-12px 0 0 -6px;
    width: 10px;
    height: 10px;
    background-color: #ff0000;
    border-radius: 50%;
}

.container-carrinho{
    position: relative;
    max-width: 100%;
    height: 100vh;
    padding-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(#4b4b4b, #0f0f0f);
}
.container-carrinho .carrinho{
    background-color: #ffffff;
    position: relative;
    width: 90%;
    height: 100%;
    padding: 3% 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
}
.container-carrinho .carrinho .title-carrinho{
    width: 100%;
    padding: 2% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #00000031;
}
.container-carrinho .carrinho .card-produtos{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container-carrinho .carrinho .card-produtos .card-prod{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border-bottom: 1px solid #00000031;
    margin-top: 1%;
    padding: 15px 0;
}
.container-carrinho .carrinho .card-produtos .card-prod h1{
    font-size: 18px;
    font-weight: 500;
}
.container-carrinho .carrinho .card-produtos .card-prod p{
    font-size: 18px;
    font-weight: 500;
    padding: 5px 30px;
    border: 1px solid #000000;
}
.container-carrinho .carrinho .card-produtos .card-prod h3{
    font-size: 22px;
    font-weight: 300;
}
.container-carrinho .carrinho .content-btns{
    margin-right: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5% 0;
}
.container-carrinho .carrinho .content-btns button{
    border: none;
    outline: none;
    background-color: #000000;
    color: #ffffff;
    font-size: 16px;
    width: 280px;
    height: 40px;
    margin: 3% 20px 0 0;
    border-radius: 5px;
    cursor: pointer;
}

.container-carrinho .form{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 95%;
    height: 80vh;
    border: 2px solid #000000;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #00000028;
    backdrop-filter: blur(10px);
    transition: 0.3s ease;
}
.container-carrinho .form input{
    width: 280px;
    height: 60px;
    outline: none;
    border: none;
    padding-left: 1%;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 8px 6px 10px #0000002f;
    font-size: 14px;
    font-weight: 300;
}
.container-carrinho .form .btnenviar{
    width: 280px;
    height: 60px;
    outline: none;
    border: none;
    background-color: #000000;
    color: #ffffff;
    padding-left: 1%;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 8px 6px 10px #0000002f;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
}
.container-carrinho .form textarea{
    resize: none;
    width: 280px;
    height: 60px;
    outline: none;
    border: none;
    padding: 5px 9px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 8px 6px 10px #0000002f;
    font-size: 14px;
    font-weight: 300;
}
.container-carrinho .form img{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}